<!DOCTYPE html>
<html lang="en">

<!-- molla/index-6.html  22 Nov 2019 09:56:18 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MY BAGS</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.html">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/ab14f3903c.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/css/skins/skin-demo-6.css">
    <link rel="stylesheet" href="/css/demos/demo-6.css">
</head>


<%-include("../partials/userPartials/navbar")%>



<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">List<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="toolbox">
                <div class="toolbox-left">
                </div><!-- End .toolbox-left -->

                <!-- <div class="toolbox-right">
                  <div class="toolbox-sort">
                    <label for="sortby">Sort by:</label>
                    <div class="select-custom">
              <select name="sortby" id="sortby" class="form-control">
                <option value="popularity" selected="selected">Most Popular</option>
                <option value="rating">Most Rated</option>
                <option value="date">Date</option>
              </select>
            </div>
                  </div>
                </div> -->
              </div><!-- End .toolbox -->

                    <div class="products mb-3" id="productList">
                    <% if(typeof productData !== "undefined" && productData.length > 0){%>
                      <% productData.forEach((product) => {%>
                     
                        <div class="product product-list">
                          <div class="row">
                              <div class="col-6 col-lg-3">
                                  <figure class="product-media">
                                      <a href="/productView?id=<%= product._id  %>">
                                          <img src="<%= product.imageUrl[0].url  %>" alt="Product image" class="product-image">
                                      </a>
                                  </figure><!-- End .product-media -->
                              </div><!-- End .col-sm-6 col-lg-3 -->

                              <div class="col-6 col-lg-3 order-lg-last">
                                  <div class="product-list-action">
                                      <div class="product-price">
                                          <span><%= `Rs.${product.price}.00`  %></span>
                                      </div><!-- End .product-price -->
                                      <div class="ratings-container mb-5">
                                          <div class="ratings">
                                              <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                          </div><!-- End .ratings -->
                                          <span class="ratings-text">( 0 Reviews )</span>
                                      </div><!-- End .rating-container -->

                                      <a href="/productView?id=<%= product._id  %>" class="btn-product btn-cart"><span>View Product </span></a>
                                  </div><!-- End .product-list-action -->
                              </div><!-- End .col-sm-6 col-lg-3 -->

                              <div class="col-lg-6">
                                  <div class="product-body product-action-inner">
                                      <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                      <div class="product-cat">
                                          <a href="#"><%= product.category.category %></a>
                                      </div><!-- End .product-cat -->
                                      <h3 class="product-title"><a href="/productView?id=<%= product._id  %>"><%= product.name  %></a></h3><!-- End .product-title -->

                                      <div class="product-content">
                                          <p><%= product.description  %></p>
                                      </div><!-- End .product-content -->
                                      
                                      <div class="product-nav product-nav-thumbs">
                                          <a href="#" class="active">
                                              <img src="<%= product.imageUrl[1].url  %>" alt="product desc">
                                          </a>
                                          <a href="#">
                                              <img src="<%= product.imageUrl[2].url %>" alt="product desc">
                                          </a>
                                          <a href="#">
                                              <img src="<%= product.imageUrl[3].url %>" alt="product desc">
                                          </a>
                                        </div><!-- End .product-nav -->
                                  </div><!-- End .product-body -->
                              </div><!-- End .col-lg-6 -->
                          </div><!-- End .row -->
                      </div><!-- End .product -->
                        
                        <%}); %>
                      <%} %>
                       

                    </div><!-- End .products -->

              <!-- <nav aria-label="Page navigation">
          <ul class="pagination">
              <li class="page-item disabled">
                  <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                  </a>
              </li>
              <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item-total">of 6</li>
              <li class="page-item">
                  <a class="page-link page-link-next" href="#" aria-label="Next">
                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                  </a>
              </li>
          </ul>
      </nav> -->

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a class="page-link page-link-prev"
              href="?allProductsPage=<%= currentPage - 1 %>"
              aria-label="Previous" tabindex="-1"
              aria-disabled="<%= currentPage === 1 %>">
              <span aria-hidden="true"><i
                  class="icon-long-arrow-left"></i></span>Prev
            </a>
          </li>
          <li class="page-item-total">Page <%= currentPage %> of <%=
                totalPages %>
          </li>
          <li
            class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
            <a class="page-link page-link-next"
              href="?allProductsPage=<%= currentPage + 1 %>"
              aria-label="Next"
              aria-disabled="<%= currentPage === totalPages %>">
              Next <span aria-hidden="true"><i
                  class="icon-long-arrow-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>

  
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
              <div class="sidebar sidebar-shop">
                <div class="widget widget-clean">
                  <label>Filters:</label>
                  <a href="#" class="sidebar-filter-clear">Clean All</a>
                </div><!-- End .widget widget-clean -->

                <div class="widget widget-collapsible">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                  Category
              </a>
          </h3><!-- End .widget-title -->
          <div class="collapse show" id="widget-1">
            <div class="widget-body">
              <div class="filter-items filter-items-count">
                <% if (typeof categoryData != "undefined") { %>
                  <% categoryData.forEach((category) => { %>
                    <div class="filter-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cat-<%= category._id %>" onclick="categoryFilter('<%= category._id %>')">
                        <label class="custom-control-label" for="cat-<%= category._id %>"><%= category.category %></label>
                      </div><!-- End .custom-checkbox -->
                      <!-- <span class="item-count"></span> -->
                    </div><!-- End .filter-item -->
                  <% }); %>
                <% } %>
              </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
          
            </div><!-- End .widget -->

              </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<script>
  async function categoryFilter(categoryId) {
    console.log(6)
  const response = await fetch(`/categoryFilter?categoryId=${categoryId}`, {
    headers: {
      "Content-Type": "application/json",
    },
  });

  const data = await response.json();
  console.log(250,data);
  if (data.length > 0) {
    filteredData(data);
  }
}

async function filteredData(data) {
  const productList = document.getElementById('productList');
  console.log(7)
  productList.innerHTML = ''; // Clear existing products
  
  if (data.length === 0) {
  return;
}

  data.forEach((product) => {
    productList.innerHTML += `
      <div class="product product-list">
        <div class="row">
          <div class="col-6 col-lg-3">
            <figure class="product-media">
              <a href="/productView?id=${product._id}">
                <img src="${product.imageUrl[0].url}" alt="Product image" class="product-image">
              </a>
            </figure><!-- End .product-media -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-6 col-lg-3 order-lg-last mt-3">
            <div class="product-list-action">
              <div class="product-price">
                Rs.${product.price}
              </div><!-- End .product-price -->
              <div class="ratings-container">
                <div class="ratings">
                  <div class="ratings-val" style="width: 20%;"></div>
                  <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">(2 Reviews)</span>
              </div><!-- End .rating-container -->

              <a href="/productView?id=${product._id}" class="btn-product btn-cart">
                <span>View Product</span>
              </a>
            </div><!-- End .product-list-action -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-lg-6 mt-4">
            <div class="product-body product-action-inner">
              <h3 class="product-title">
                <a href="#">${product.name}</a>
              </h3><!-- End .product-title -->

              <div class="product-content">
                <p>${product.description}</p>
                <div class="product-nav product-nav-thumbs mt-5">
                  <a href="/productView?id=${product._id}" class="active">
                    <img src="${product.imageUrl[1].url}" alt="product desc">
                  </a>
                  <a href="/productView?id=${product._id}">
                    <img src="${product.imageUrl[2].url}" alt="product desc">
                  </a>
                  <a href="/productView?id=${product._id}">
                    <img src="${product.imageUrl[3].url}" alt="product desc">
                  </a>
                </div><!-- End .product-nav -->
              </div><!-- End .product-content -->
            </div><!-- End .product-body -->
          </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->
      </div><!-- End .product -->
    `;
  });
}
</script>


<%-include("../partials/userPartials/footer") %> 